body {
    margin: 0;
    padding: 0;
    background-color: orange;
    font-family: sans-serif;
}


        /*BANER*/
.baner{
    max-width: 100%;
    position: relative;
}
.baner img {
    max-width: 100%;
    pos
}
        /* NAVBAR */
.nav {
    padding: 10px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin: auto;
    border-radius: 12px;
    margin-top: -45px;
    width: 70%;
    height: 80px;
    background-color:white;
    justify-content: space-around;
    align-items:center;
    text-align: center;
}

.icon {
    float: left;
    position: relative;
    margin-right: 10px;
}
.ticon {
    font-size: 14px;
    float: left;
    position: relative;
    
}

.nav a {
    text-decoration: none;
}
.icon:hover{
    margin-top: -5px;
}
    /* ABOUT */

#about {
    margin-top: 70px;
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gbt {
    max-width: 100%;
}
.text {
    width:50%;
    text-align: left;
}

.text h4 {
    font-size: 32px;
    font-weight: bold;
    color: purple;
}
.text p {
    line-height: 2;
    font-size: 19px;
}

        /* TALENT */

#talent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    gap: 20px;
}

.card {
    width: 25%;
    margin-right: 10PX;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card:hover{
    box-shadow: 0 30px 30px 0px orange;
    margin-top: -5px;
}
.card p {
    color: gray;
    line-height: 2;
    text-align: center;
}

            /* GALERY */
  
#galeri{

    display: flex;
    justify-content: center;
    gap:7px;
    align-items: center;
    flex-wrap: wrap;
    padding:50px;
 }

.titgal h5 {
    font-size: 36px;
    font-weight: bold;
    color: purple;
} 
.cgbr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:7px;

}

.gbr {
    width: 30%;
}

 .gbr img {
     width: 100%;
}

#kontak{
    display: flex;
	background-color:white;
    padding: 70px;
    flex-wrap: wrap;
	justify-content: center;
	text-align: center;
    align-items: center;
    margin-bottom: 80px;
    
}

.alamat {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.alamat a {
    text-decoration: none;
}
.lgb{
    width: 100%;
}
.lgb img{
    width: 30%;
}

.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
  
}

.gbm {
    width:100%;
}
.gbm img {
    width: 100%;
}

.gotopbtn{
    position: fixed;
    width: 60px;
    height: 60px;
    background: purple;
    bottom: 40px;
    border-radius: 50px;
    right: 50px;
  
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 26px;
}
  
            /* nav buttom */




                /* responsiv */

        @media screen and (max-width: 580px){


    .nav {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border-radius: 0;
        bottom: 0;
        width: 100%;
        height: 120px;
        padding: 5px;
        
        
       
    }
    .icon {
     
        margin-left: 20px;
    }
    .icon img{
        width: 50%;
    }
    .ticon h2 {
        margin-left: 32px;
        font-size: 16px;
    }
    /* about */
    
    #about {
        flex-wrap: wrap;
        margin-top: -15px;
    }

    .gbt img {
        width: 70%;
    }

    .text {
        width: 100%;
        text-align: center;
    }
    .text h4 {
        font-size: 18px;
    }
    .text p {
        line-height: normal;
        font-size: 14px;
        text-align: left;
    }
        /* talent */

    #talent {
        flex-wrap: wrap;
        padding: 10px;
    }

    .card{
        width: 100%;
        display: flex;
    }

    .kiri{
       
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        width: 40%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        float: left;
        padding: 5px;
    }
    
    .crdg{
        float: left;
    }
    
    .crdg img {
        float: left;
    }
    .ct{
        position: relative;
        font-size: 14px;
        float: left;
        
    }
    .tt {
       margin-left: 20px;
    }
    .tt p {
        font-size: 12px;
        text-align: left;
    }
   
        /* galery */

    #galeri{
        justify-content: center;
        padding: 5px;
        align-items: center;
    }

    .cgbr {
        margin-top: 10px;
        display: inline;
        justify-content: center;
        gap: 5px;
    }
    .gbr{
        margin-top: 10px;
        float: left;
        width: 45%;
        margin-left: 15px;
    }
    .gbr img {
        width: 100%;
    }

    .lgb img {
        width: 70%;
    }
    .ata h4 {
        font-size: 12px;
        line-height: 2;
    }
    .media {
        gap:0;
    }
    .gbm {
        width: 50%;
    }
    .gotopbtn {
        display: none;
    }
    .icon:hover{
        box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
    }
}
