@import url(https://fonts.googleapis.com/css?family=Poppins);
body {
  font-family: "Times New Roman", Times, serif;
}
.backgroundform 
{
  background-image: url("../images/5.jpg");
}

.form-control
{
	border-radius: 25px;
}

p
{
  color: rgb(135, 190, 235);
}