@import url(https://fonts.googleapis.com/css?family=Poppins);
body {
  font-family: "Times New Roman", Times, serif;
}
.backgroundform {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.form-control
{
	border-radius: 25px;
}